# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=basis_transport

# JWT
JWT_SECRET=

# Email
RESEND_API_KEY=
RESEND_FROM=

# Client app URL
CLIENT_APP_URL=http://localhost:5173

# Pindo SMS Service
PINDO_API_URL=https://api.pindo.io/v1/sms/
PINDO_TOKEN=your_pindo_api_token_here
PINDO_SENDER_ID=Transport
